<form class="row g-6">
    <div class="col-md-6">
        <label class="form-label">Item Discription</label>
        <input type="text" class="form-control" placeholder="item discription">
    </div>
    <div class="col-md-6">
        <label class="form-label">Day Rate</label>
        <input type="number" class="form-control" placeholder="Today's Market Rate">
    </div>
    <div class="col-md-6">
        <label class="form-label">Purity</label>
        <input type="number" class="form-control" placeholder="Purity Percentage">
    </div>
    <div class="col-md-6">
        <label class="form-label">Weight</label>
        <input type="number" class="form-control" placeholder="weight eg:10gm">
    </div>
    <div class="row g-2">
        <div class="input-field col s12">
            <button class="btn btn-primary right" type="button">Add more Item</button>&nbsp;
            <button class="btn btn-success right" type="submit">Save</button>
        </div>
    </div>
</form>